<footer class="text-white bg-footer p-5">
      <div class="container">
            <div class="row">
                  <div class="col-md-3">
                        <h5 class="fw-bold mb-3">Genyd Télécom</h5>
                        <p>
                              Genyd Télécom propose des solutions Internet par satellite pour une
                              connectivité fiable et rapide, peu importe où vous êtes.
                              Rejoignez-nous pour une expérience numérique optimale.
                        </p>
                  </div>
                  <div class="col-md-3">
                        <h5 class="fw-bold mb-3">Coordonnées</h5>
                        <p>
                              <i class="bi bi-geo-alt-fill"></i> Adresse : N°5, Avenue de la
                              science/Prince de liège, Haut commandement / Gombe Ville de Kinshasa –
                              RD Congo
                        </p>
                        <p>
                              <i class="bi bi-telephone-fill"></i> Téléphone : +243 812 414 944 /
                              818 614 076
                        </p>
                        <p>
                              <i class="bi bi-envelope-fill"></i> Email : contact@genyd-tele.com
                        </p>
                  </div>
                  <div class="col-md-3">
                        <h5 class="fw-bold mb-3">Liens rapides</h5>
                        <ul class="list-unstyled">
                              <li>
                                    <a href="{% url 'home' %}" class="text-white text-decoration-none"><i
                                                class="bi bi-chevron-right"></i> Home</a>
                              </li>
                              <li>
                                    <a href="{% url 'home' %}#solutions" class="text-white text-decoration-none"><i
                                                class="bi bi-chevron-right"></i> Nos solutions</a>
                              </li>
                              <li>
                                    <a href="{% url 'home' %}#forfaits" class="text-white text-decoration-none"><i
                                                class="bi bi-chevron-right"></i> Nos forfaits</a>
                              </li>
                              <li>
                                    <a href="{% url "contact" %}" class="text-white text-decoration-none"><i
                                                class="bi bi-chevron-right"></i> Contactez-nous</a>
                              </li>
                              <li>
                                    <a href="{% url "about" %}" class="text-white text-decoration-none"><i
                                                class="bi bi-chevron-right"></i> Qui sommes-nous ?</a>
                              </li>
                        </ul>
                  </div>
                  <div class="col-md-3">
                        <h5 class="fw-bold mb-3">Suivez-nous</h5>
                        <p>Restez connectés avec nous sur les réseaux sociaux :</p>
                        <div class="d-flex gap-3">
                              <a href="#" target="_blank" class="text-white"><i class="bi bi-facebook fs-4"></i></a>
                              <a href="#" target="_blank" class="text-white"><i class="bi bi-linkedin fs-4"></i></a>
                              <a href="#" target="_blank" class="text-white"><i class="bi bi-twitter-x fs-4"></i></a>
                              <a href="#" target="_blank" class="text-white"><i class="bi bi-instagram fs-4"></i></a>
                        </div>
                  </div>
            </div>
      </div>
      <div class="text-center p-2">
            <p class="fw-medium mt-3">
                  &copy; 2025 Genyd Télécom. Tous droits réservés.
            </p>
      </div>
</footer>