<nav class="navbar navbar-expand-md fixed-top bg-light p-3">
      <div class="container-fluid d-flex justify-content-between align-items-center">
            <a class="navbar-brand mx-4 fs-5 text-primary fw-bolder" href="{% url "home" %}">GENYD TELECOM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse p-xs-5" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item me-md-2">
                              <a class="nav-link px-3 {% if current_link_name == 'home' %}active{% endif %}"
                                    aria-current="page" href="{% url "home" %}">Home</a>
                        </li>
                        <li class="nav-item me-md-2">
                              <a class="nav-link px-3" href="{% url "home" %}#solutions">Nos solutions pro</a>
                        </li>
                        <li class="nav-item me-md-2">
                              <a class="nav-link px-3" href="{% url "home" %}#forfaits">Nos forfaits</a>
                        </li>
                        <li class="nav-item me-md-2">
                              <a class="nav-link px-3 {% if current_link_name == 'contact' %}active{% endif %}"
                                    href="{% url "contact" %}">Contactez-nous</a>
                        </li>
                        <li class="nav-item me-md-2">
                              <a class="nav-link px-3 {% if current_link_name == 'about' %}active{% endif %}"
                                    href="{% url "about" %}">Qui sommes
                                    nous ?</a>
                        </li>
                  </ul>
            </div>
      </div>
</nav>a